.vscode
bin
**/*.iml
**/*.ipr
**/*.iws
**/.bak
**/.classpath
**/.idea
**/.jar
**/.log
**/.project
**/.rar
**/.settings
**/.zip
**/publish
**/report.xml
**/report.xsl
**/reports
**/target
**/test-output
*.bak
*.hprof
*.jar
*.log
*.rar
*.zip
.classpath
.gradle
.idea
.project
.settings
/test
aspose-ext
build
dependencies/misc/license/common-mono-40-62.txt
esprima
external
jint
logs
manifest
support-legacy.net
test-out/**
*.iml
*.ipr
*.iws